{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2 style="margin: 25px">Buy stocks</h2>
    <a href = "http://eoddata.com/symbols.aspx" target=”_blank”>NYSE stock symbols</a>
    <h2></h2>
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}